apiVersion: v1
kind: Service
metadata:
  name: id-server-production-svc
  namespace: shenyu-new
spec:
  clusterIP: 10.247.35.34
  clusterIPs:
  - 10.247.35.34
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: cce-service-0
    port: 80
    protocol: TCP
    targetPort: 10000
  selector:
    app: id-server-production
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
