apiVersion: v1
kind: Service
metadata:
  name: id-server-production-svc
  namespace: shenyu-new
spec:
  ports:
  - name: cce-service-0
    port: 80
    protocol: TCP
    targetPort: 10000
  selector:
    app: id-server-production
  type: ClusterIP
