apiVersion: v1
kind: Service
metadata:
  labels:
    app: mini-pay-test
  name: mini-pay-test-svc
  namespace: hwtest-node-dx
spec:
  ports:
  - name: cce-service-0
    port: 80
    protocol: TCP
    targetPort: 55123
  selector:
    app: mini-pay-test
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
