apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/hwy-test/my-id-server
  newTag: 20240318_1_fixed
namespace: shenyu-new
patches:
- path: map.yaml
