apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/lemon-develop/xxljob_admin
  newTag: v20240115151314
namespace: xxl-job
patches:
- path: map.yaml
