apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: shenyu
  name: shenyu-bootstrap
spec:
  selector:
    matchLabels:
      app: shenyu-bootstrap
  replicas: 1
  template:
    metadata:
      labels:
        app: shenyu-bootstrap
    spec:
      volumes:
      - name: shenyu-bootstrap-application
        configMap:
          name: apollo-public
          items:
          - key: shenyu-bootstrap-application.yml
            path: shenyu-bootstrap-application.yml

      imagePullSecrets:
      - name: default-secret
      containers:
      - name: shenyu-bootstrap
        image: swr.cn-east-3.myhuaweicloud.com/hwy-test/my-shenyu-bootstrap-test:2.6.0-20240123101413
        ports:
        - containerPort: 9195
        resources:
          limits:
            cpu: "8"
            memory: 4Gi
          requests:
            cpu: "4"
            memory: 2Gi
        env:
        - name: TZ
          value: Asia/Shanghai
        volumeMounts:
        - name: shenyu-bootstrap-application
          mountPath: /opt/shenyu-bootstrap/conf/application.yml
          subPath: shenyu-bootstrap-application.yml