apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
  labels:
    app: shenyu-bootstrap
    app.kubernetes.io/instance: shenyu
  name: shenyu-bootstrap
  namespace: hwtest-node-dx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shenyu-bootstrap
      version: v1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: shenyu-bootstrap
        version: v1
    spec:
      containers:
      - env:
        - name: PAAS_APP_NAME
          value: shenyu-bootstrap
        - name: PAAS_NAMESPACE
          value: hwtest-node-dx
        - name: PAAS_PROJECT_ID
          value: 0cca93a109800f442ffec00cba0f5e6f
        - name: TZ
          value: Asia/Shanghai
        - name: JAVA_TOOL_OPTIONS
          value: -javaagent:/skywalking/agent/skywalking-agent.jar -Dskywalking.collector.backend_service=124.70.142.83:11800
            -Dskywalking.agent.service_name=le-cce-turbo-test::shenyu-bootstrap
        image: swr.cn-east-3.myhuaweicloud.com/hwy-test/my-shenyu-bootstrap-test:2.6.0-202312261723
        imagePullPolicy: IfNotPresent
        name: shenyu-bootstrap
        # resources:
        #   limits:
        #     cpu: "2"
        #     memory: 1Gi
        #   requests:
        #     cpu: "2"
        #     memory: 1Gi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        # volumeMounts:
        # - mountPath: /opt/shenyu-bootstrap/conf/application.yml
        #   name: vol-170254778860414330
        #   readOnly: true
        #   subPath: shenyu-bootstrap-application.yml
        - mountPath: /skywalking
          name: vol-170261004216661234
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: default-secret
      initContainers:
      - command:
        - /bin/sh
        - -c
        - cp -R /skywalking/agent /agent/
        image: apache/skywalking-java-agent:9.0.0-alpine
        imagePullPolicy: IfNotPresent
        name: init-skywalking
        resources:
          limits:
            cpu: 250m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 512Mi
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /agent
          name: vol-170261004216661234
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      - emptyDir: {}
        name: vol-170261004216661234