apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/lemon-develop/allpay
  newTag: v20240122201239
namespace: hwtest-node-dx
