apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/cn-nhsoft/allpay
  newTag: minipay-20240123
namespace: minipay-share
patches:
- path: map.yaml
