apiVersion: v1
kind: Service
metadata:
  labels:
    app: xxljobadminnew
  name: xxljobadminnew
  namespace: xxl-job
spec:
  ports:
  - name: cce-service-0
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: xxljobadminnew
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
