apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/lemon-develop/minipay-daemon-boot
  newTag: v20240122201414
namespace: hwtest-node-dx
