apiVersion: v1
kind: Service
metadata:
  labels:
    app: minipay-share-daemon
    version: v1
  name: minipay-share-daemon-svc
  namespace: minipay-share
spec:
  ports:
  - name: cce-service-0
    port: 80
    protocol: TCP
    targetPort: 55125
  selector:
    app: minipay-share-daemon
    version: v1
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
