apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- name: swr.cn-east-3.myhuaweicloud.com/cn-nhsoft/minipay-daemon-boot
  newTag: hwy-20240122
namespace: minipay-share
patches:
- path: map.yaml
