apiVersion: v1
kind: Service
metadata:
  labels:
    app: minipay-daemon-test
  name: minipay-daemon-test-svc
  namespace: hwtest-node-dx
spec:
  ports:
  - name: cce-service-0
    port: 80
    protocol: TCP
    targetPort: 55125
  selector:
    app: minipay-daemon-test
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
